# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.sqlite3

# Environments
.env
.venv/
env/
venv/

# Django-specific
db.sqlite3
media/
staticfiles/
*.mo

# VS Code
.vscode/

# MacOS
.DS_Store

# PyCharm
.idea/

# Git
*.orig
